body {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.list-style-none {
	list-style-type: none;
}

.pad-left-10 {
	padding-left: 10px;
}

.cursor-pointer {
	cursor: pointer;
}

.line-through {
	text-decoration: line-through;
}

.unset {
	float: unset;
}

.hidden {
	display: none !important;
	visibility: hidden !important;
  }