{% extends 'base.html' %}

{% block title %}Category | {{ category_name }}{% endblock %}

{% block page_content %}
	<h1>{{ category_name }}</h1>
	<ul class="list-style-none">
		{% for category_task in category_tasks %}
			<li id="{{ category_task.id }}">
				<span class="glyphicon glyphicon-trash cursor-pointer delete-task" aria-hidden="true"></span>
				{% if category_task.complete %}
					<span class="pad-left-10  cursor-pointer task line-through">{{ category_task.title }}</span>
				{% else %}
					<span class="pad-left-10  cursor-pointer task">{{ category_task.title }}</span>
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	<button id="add-task-button" class="btn btn-default">Add Task</button>
	<form id="add-task-form" class="form-group row hidden" method="POST" action="">
		{{ form.hidden_tag() }}
		<div class="col-md-4 unset">
			{{ form.task.label }} 
			{{ form.task(class="form-control") }}
		</div>
		{% for error in form.task.errors %}
			{{ error }}
		{% endfor %}
		<br>
		<div class="col-md-4 unset">
			{{ form.category.label }} 
			{{ form.category(class="form-control") }}
		</div>
		{% for error in form.category.errors %}
			{{ error }}
		{% endfor %}
		<br>
		{{ form.submit(class="btn btn-default") }}
		<button id="cancel-add-task-button" class="btn btn-default">Cancel</button>
	</form>
{% endblock %}